extends layout/main/main
block title
  | CRYSTAL LUX
block main  
  include includes/popup/popup
  include includes/preloader/preloader
  include includes/hamburger/hamburger
  include includes/menu/menu  
  .sticky-header.header.sticky
    .sticky__top
      .sticky__top-wrap
        .sticky__logo
          a(href="#header" data-scroll)
            img(src="assets/img/logo-header.svg" alt="")
        .sticky__nav
          include includes/nav/nav  
        .btn-wrap
          include includes/btn/btn
  .social-float
    include includes/social/social
  .wrapper
    .content 
      include includes/header/header

      //- entry

      .entry
        .swiper-container.entry-js
          .swiper-wrapper
            .swiper-slide(style="background-image:url('assets/img/entry/1.jpg')")
              .container
                .entry__wrap
                  h2.entry__caption
                    | Химчистка <br> ковров <br> и мягкой мебели
            .swiper-slide(style="background-image:url('assets/img/entry/2.jpg')")
              .container
                .entry__wrap
                  h2.entry__caption.entry__caption_lighter
                    | Проффесиональная <br>
                    span прачечная
      //- entry end

      //- about
      .about.indent#about
        .container
          include includes/title/title
          +title('о нас')  
          .about__wrap
            .about__item.desc.wow.bounceIn
              p.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='0.5s')  
                |Компания «Crystal Lux» осуществляет профессиональные услуги чистки ковров и химчистки мягкой мебели, а также стирки пледов и одеял. Мы предлагаем качественный сервис по доступным тарифам. Мы делаем ставку на оперативность исполнения заказов, приемлемые цены и достойный результат.
              p.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='0.7s')
                |Для того чтобы каждый раз обеспечивать высокое качество работ, мы используем специальное оборудование. Каждый этап работы проходит под контролем квалифицированного персонала. Такой ответственный подход к заказам позволяет гарантировать высокое качество услуг.
              p.wow.slideInLeft(data-wow-duration='1s' data-wow-delay='0.9s')
                |Схема работы построена таким образом, чтобы клиенту было максимально удобно. В частности, у нас предусмотрена система оперативной доставки в Бишкеке и жилмассивах. Это позволяет нашим клиентам экономить массу времени.   
            .about__item.img-wrap
              mixin aboutImg(img,delay)   
                .img-wrap__item.wow.bounceIn(data-wow-duration='1s' data-wow-delay=delay)
                  img(src=img, alt="")
              +aboutImg('assets/img/about/1.jpg','0.5s')
              +aboutImg('assets/img/about/2.jpg','0.7s')
              +aboutImg('assets/img/about/3.jpg','0.9s')
              +aboutImg('assets/img/about/4.jpg','1s')
              +aboutImg('assets/img/about/5.jpg','1.2s')

      //- about end

      //- services
      .services.indent#carpet
        .container#container
          +title('Наши услуги')
        .services__wrap
          .services__img-wrap.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.5s')
            .services__img
              img(src="assets/img/services/1.jpg" alt="")
          .services__desc.wow.bounceInRight(data-wow-duration='2s' data-wow-delay='0.5s')
            i.icon-carpet
            .services__content
              h2 Профессиональная чистка <br> ковров и ковролинов
              p Профессиональная стирка ковров – это быстрая и эффективная уборка, результат которой сохраняется надолго. Дышать свежим воздухом и любоваться аккуратным ковролином не только приятно, но и полезно для здоровья.
                |Вычистим пыль, вымоем грязь, удалим пятна, распрямим примятый ворс, придадим затоптанным покрытиям свежий вид. Новейшие профессиональные технологии химчистки творят чудеса! Чистка ковров позволяет вернуть ковролину яркие краски и сделать его внешний вид безупречным.
              p В наши услуги входит:
              ul
                li Глубинная чистка с удалением впитавшейся пыли, песка, шерсти животных;
                li Химическая чистка для удаления стойких пятен, потеков, органических веществ;
                li Пенная чистка для свежести, яркости красок и обновления внешнего вида покрытия;
                li Стирка и чистка ковров на фабрике с применением профессионального оборудования.
              .btn-wrap
                include includes/btn/btn  
        .services__wrap#furniture
          .services__img-wrap.wow.bounceInRight(data-wow-duration='0.7s' data-wow-delay='0.5s')
            .services__img
              img(src="assets/img/services/2.jpg" alt="")
          .services__desc.wow.bounceInLeft(data-wow-duration='2s' data-wow-delay='0.5s')
            i.icon-sofa
            .services__content
              h2 Профессиональная химчистка <br> мягкой мебели
              p Химчистка мягкой мебели еще никогда не была настолько простой, доступной и удобной! Мы профессионально, тщательно и бережно чистим – вы получаете удовольствие от результата. В ваших домашних диванах и матрасах скопилась пыль? Офисные кресла и стулья приобрели непрезентабельный вид? Доверьте нам заботу о любой мягкой мебели!
              p Химчистка мебели — необходимая, крайне важная и довольно сложная процедура, которая помогает решать сразу несколько задач:
              p В наши услуги входит:
              ul
                li Поддерживать в доме или офисе чистоту и следить за гигиеной;
                li Ухаживать за покрытиями и продлевать их срок службы;
                li Обновлять обивку «не первой свежести», придавая ей идеальный свежий вид;
                li Удалять все виды пятен, следы грязных рук, чернил, пластилина, шоколада.
              .btn-wrap
                include includes/btn/btn
        .services__wrap#laundry
          .services__img-wrap.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.5s')
            .services__img
              img(src="assets/img/services/3.jpg" alt="")
          .services__desc.wow.bounceInRight(data-wow-duration='2s' data-wow-delay='0.5s')
            i.icon-washing-machine
            .services__content
              h2 Профессиональная прачечная

              p Прачечный сервис – «Crystal Lux» — оказывает услуг стирки и химчистки белья корпоративным заказчикам. 
                | У нас цены на стирку белья радуют доступностью, процесс выполнения работы – минимальными сроками, а результат – высочайшим качеством. 
                | Так как мы работаем с корпоративными заказчиками, мы понимаем какая ответственность лежит на нас, поэтому даем гарантию на оказываемые услуги.
              p В наши услуги входит:
              ul
                li Стирка и сушка белья;
                li Глажка;
                li Стирка для отелей и ресторанов;
                li Стирка пледов и одеял.
              .btn-wrap
                include includes/btn/btn
      //- services end

      //- advantages
      .advantages.indent
        span(style="background-image: url('assets/img/advantage/1.jpg');")
        .container
          .advantages__wrap
            .advantages__desc
              +title('Преимущества')
              ul.advantages__list
                mixin advantages(item,delay)
                  li.advantages__item.wow.fadeInUp(data-wow-duration='1s' data-wow-delay=delay)=item
                +advantages('Мы гарантируем не только приведение белья, одежды, штор, ковров и т.д. в порядок, но и максимально щадящее отношение к изделию.','0.5s')
                +advantages('Недорого и очень быстро мы приведем в порядок абсолютно любые вещи – от постельного белья и штор, до униформы и ковриков.','0.7s')
                +advantages('Качество и стабильность работы прачечной обеспечивают профессиональные стиральные агрегаты турецкого бренда Cleanvac.','0.9s')
                +advantages('Для стирки белья используется линейка турецких моющих средств.','1.1s')
                +advantages('Многолетний опыт работы операторов прачечной позволяет нам гарантировать лучший результат стирки.','1.3s')
              .advantages__illustration
                mixin advIllustration(icon,desc,delay)
                  .advantages__illustration-item.wow.fadeInUp(data-wow-duration='1s' data-wow-delay=delay)
                    .advantages__illustration-icon
                      i(class=icon)
                    .advantages__illustration-desc!=desc
                +advIllustration('icon-1','Профессиональное <br/> оборудование','0.5s')
                +advIllustration('icon-2','Справедливые <br/> цены','0.5s')
                +advIllustration('icon-3','Гарантия <br/> качества','0.7s')
                +advIllustration('icon-4','Оплата <br/> по факту','0.7s')
                +advIllustration('icon-5','Безопасная <br/> химия','0.9s')
                +advIllustration('icon-6','Без выходных','0.9s')
      //- advantages end

      //- delivery end
      .delivery.indent(style="background-image: url('assets/img/delivery/1.jpg');")
        .container
          +title('Доставка')
          .delivery__wrap
            .delivery__item
              .delivery__desc
                p.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.5s') Мы создали для Вас невероятно удобный сервис обслуживания. 
                p.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.7s') У нас есть вывоз и обратная доставка, все заботы и хлопоты мы берем на себя.  Менеджеры по работе с клиентами всегда на рабочем месте!
                p.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.9s') Просто закажите Crystal Lux на дом или в офис, и машина приедет точно в срок. Это так же просто как заказать такси или доставку пиццы.
              .btn-wrap
                includes/btn/btn
            .delivery__item.wow.bounceInRight(data-wow-duration='0.7s' data-wow-delay='0.5s')
              img(src="assets/img/delivery/2.png" alt="")
      //- delivery end

      //- partners
      .partners.indent
        .container
          +title('Партнеры')
          .swiper-container.partners-js
            .swiper-wrapper
              mixin partners(logo)
                .swiper-slide
                  .partners__logo
                    img(src=logo, alt="")
              +partners('assets/img/partners/1.png')
              +partners('assets/img/partners/2.png')
              +partners('assets/img/partners/3.png')
              +partners('assets/img/partners/4.png')
              +partners('assets/img/partners/5.png')
      //- partners end

      //- reviews
      .reviews.indent
        .container
          +title('отзывы')
          .swiper-container.reviews-js
            .swiper-wrapper
              mixin reviews(img,name,review)
                .swiper-slide
                  .reviews__item
                    .reviews__img
                      img(src=img, alt="")
                    .reviews__name=name
                    .reviews__comment
                      p=review
              +reviews('assets/img/reviews/1.jpg','БЕКСУЛТАН САПАРАЛИЕВ','Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.')
              +reviews('assets/img/reviews/2.jpg','АЛИЯ КАРИМОВА','Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.')
              +reviews('assets/img/reviews/3.jpg','АТАЙ ШАРИПОВ','Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.')
            .swiper-pagination
      //- reviews end

      //- contacts
      .contacts.indent#contacts
        .container
          +title('Контакты')
        .contacts__wrap   
          .contacts__form-wrap.wow.bounceInLeft(data-wow-duration='0.7s' data-wow-delay='0.5s')  
            .contacts__form
              .form
                form(action="")
                
                  input(type="hidden" name="project_name" value="Site Name")
                  input(type="hidden" name="admin_email" value="250296a@gmail.com")
                  input(type="hidden" name="form_subject" value="Form Subject")

                  .form__input.wow.fadeInUp(data-wow-duration='0.7s' data-wow-delay='1.8s')
                    input(type="text" name="Имя" placeholder="Имя")
                  .form__input.wow.fadeInUp(data-wow-duration='0.7s' data-wow-delay='1.5s')
                    input.phone-js(type="text" name="Номер телефона" placeholder="Номер телефона")
                  .form__input.form__input_textarea.wow.fadeInUp(data-wow-duration='0.7s' data-wow-delay='1.3s')
                    textarea(name="Cообщение" placeholder="Ваше сообщение")
                  .btn-wrap.btn-wrap_block.wow.fadeInUp(data-wow-duration='0.7s' data-wow-delay='1.1s')
                    .btn
                      span.btn__circle
                      button.btn__inner(type="submit")
                        span.btn__container Отправить
          .contacts__map.wow.bounceInRight(data-wow-duration='0.7s' data-wow-delay='0.7s')
            #map
          .contacts__map-overlay.wow.bounceInRight(data-wow-duration='0.7s' data-wow-delay='0.9s')
      //- contacts end



    include includes/footer/footer


  include includes/scripts 




